<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>Trello </title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="content/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body>
  <header ng-include ="'header.html'"></header>
  <div ng-controller="NinjaController">
    <div id="kaban">
      <div id="scroller">
        <div id="boards">

          <div class="board" id="board1">
            <header>Things To do</header>
            <div class="cards" id="b1">
              <div class="card" ng-repeat="ninja in ninjas" ng-show="ninja.available">
                <span class="cardtitle noselect">{{ninja.name}}</span>
                <div class="remove" ng-click="removeNinja(ninja)">x</div>
              </div>
               <form ng-submit="addNinja()">
                <input type=text ng-model="newninja.name">
                <input class="btn waves-effect waves-light btn-small" type="submit" value="Add Card" />
              </form>
            </div>
          </div>

          <div class="board" id="board2">
            <header>Doing</header>
            <div class="cards" id="b2">
              <div class="card" ng-repeat="ninja in lattice" ng-show="ninja.available">
                <span class="cardtitle">{{ninja.name}}</span>
                <div class="remove" ng-click="removeNinja1(ninja)">x</div>
              </div>
              <form ng-submit="addNinja1()">
               <input type=text ng-model="newninja1.name">
               <input class="btn waves-effect waves-light btn-small" type="submit" value="Add Card" />
             </form>
            </div>
          </div>

          <div class="board" id="board3">
            <header>Done</header>
            <div class="cards" id="b3">
              <div class="card" ng-repeat="ninja in terllo" ng-show="ninja.available">
                <span class="cardtitle noselect">{{ninja.name}}</span>
                <div class="remove" ng-click="removeNinja2(ninja)">x</div>
              </div>
              <form ng-submit="addNinja2()">
               <input type=text ng-model="newninja2.name">
               <input class="btn waves-effect waves-light btn-small" type="submit" value="Add Card" />
             </form>
            </div>
          </div>
          <!-- <div class="content">
            <input type="submit" value="+ Add a new list" />
          </div>
        </div> -->
        </div>
      </div>
    </div>
</div>
</body>
</html>
